.main {
    background-color: #f8f8f8;
}

@media only screen and (max-width: 991px) {
    .about {
        text-align: center;
    }

}

@media only screen and (max-width: 400px) {
    .about {
        text-align: center;
    }

}