<div class="main">
    <div class="about p-3">
        <div class="d-flex justify-content-center">
            <h1 class="fw-bold mt-5 fs-1">About Us</h1>
        </div>
        <div class="row d-flex justify-content-around mt-5">
            <div class="row d-flex col-md-5 justify-content-around">
                <div class="col-lg-4 m-3 p-5 bg-white card-body text-center justify-content-center">
                    <h1 class="card-title fs-1 text-warning my-auto">5,000</h1>
                    <p class="card-text my-1 fw-bold text-secondary">Happy Clients
                    </p>
                </div>
                <div class="col-lg-4 m-3 p-5 bg-white card-body text-center justify-content-center">
                    <h1 class="card-title fs-1 text-warning my-auto">1,200</h1>
                    <p class="card-text my-1 fw-bold text-secondary">Projects Done
                    </p>
                </div>
                <div class="col-lg-4 m-3 p-5 bg-white card-body text-center justify-content-center">
                    <h1 class="card-title fs-1 text-warning my-auto">500</h1>
                    <p class="card-text my-1 fw-bold text-secondary">Cups of Coffee
                    </p>
                </div>
                <div class="col-lg-4 m-3 p-5 bg-white card-body text-center justify-content-center">
                    <h1 class="card-title fs-1 text-warning my-auto">587</h1>
                    <p class="card-text my-1 fw-bold text-secondary">Working Hourse
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <h3 class="text-warning fw-bold pt-3">ABOUT ME</h3>
                <h1 class="fs-1 text-dark lh-sm fw-bold">A UI/UX Designer & Web Developer Based in Philippines</h1>
                <span class="fw-bold text-secondary fs-5 lh-1">Far far away, behind the word mountains, far from the
                    countries
                    Vokalia and Consonantia, there
                    live the blind texts.</span>
                <div class="ms-1 my-3">
                    <p-button label="Download CV" styleClass="p-button-warning"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div class="skills p-3">
        <div class="text-center">
            <h3 class="fs-5 mt-5 text-warning">skills</h3>
            <h1 class="fw-bold fs-1 text-secondary">My skills</h1>
        </div>
        <div class="row d-flex justify-content-between py-5 mt-3">
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="80" aria-labelledby="label_status"></p-progressBar>
            </div>
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="95" aria-labelledby="label_status"></p-progressBar>
            </div>
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="72" aria-labelledby="label_status"></p-progressBar>
            </div>
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="51" aria-labelledby="label_status"></p-progressBar>
            </div>
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="82" aria-labelledby="label_status"></p-progressBar>
            </div>
            <div class="col-md-3 m-3">
                <span id="label_status" class="text-secondary fw-bold">ADOBE PHOTOSHOP</span>
                <p-progressBar [value]="96" aria-labelledby="label_status"></p-progressBar>
            </div>
        </div>
    </div>
    <div class="happy-guests">
        <div class="text-center">
            <h3 class="fs-5 mt-5 text-warning">TESTIMONIAL</h3>
            <h1 class="fw-bold fs-1 text-secondary">Happy Guests</h1>
        </div>
        <div class="container mb-5">
            <div class="row text-center mt-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                            class="card-img-top" alt="Skyscrapers" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                This is a wider card with supporting text below as a natural lead-in to
                                                additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                                            class="card-img-top" alt="Los Angeles Skyscrapers" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to
                                                additional content.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                                            class="card-img-top" alt="Palm Springs Road" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                This is a wider card with supporting text below as a natural lead-in to
                                                additional content. This card has even longer content than the first to
                                                show
                                                that equal height action.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                                            class="card-img-top" alt="Skyscrapers" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                This is a wider card with supporting text below as a natural lead-in to
                                                additional content. This content is a little bit longer.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                                            class="card-img-top" alt="Los Angeles Skyscrapers" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This card has supporting text below as a natural
                                                lead-in to
                                                additional content.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                                            class="card-img-top" alt="Palm Springs Road" />
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                This is a wider card with supporting text below as a natural lead-in to
                                                additional content. This card has even longer content than the first to
                                                show
                                                that equal height action.
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>