.main {
    background-color: #f8f8f8;
}

.main-info {
    background-color: #ffc10778;
    border-radius: 30px;
}

.image-info {
    text-align: center;
    margin-bottom: -10%;

    img {
        position: relative;
        top: -35%;
        max-width: 40%;
        border-radius: 12px;

    }
}

.title-info {
    text-align: center;

    h5 {
        opacity: .5;
    }
}

.icons-info {
    a {
        i {
            cursor: pointer;
            font-size: 25px;
        }
    }
}

.contact-sec {
    width: 97%;
    background-color: #f8f8f8;
    margin: 15px auto;
    padding: 10px;
    border-radius: 20px;

    div {
        .icon-info {
            margin: 0 20px;


        }
    }

    h5 {
        margin: 1px;
    }

    a {
        margin: -9px;
        cursor: pointer;
    }

    hr {
        width: inherit;
    }

    .btn-contain {
        text-align: center;
    }

    button {
        background-color: #fe9419;
        border-radius: 25px;
    }
}

@media only screen and (max-width: 991px) {
    .contact {
        text-align: center;
    }

}

@media only screen and (max-width: 400px) {
    .contact {
        text-align: center;
    }

}