<div class="main">
    <div class="services p-3">
        <div class="d-flex justify-content-center">
            <h1 class="fw-bold mt-5 fs-1">Experiences</h1>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-around mt-5">
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-deck">
                        <div class="card cards-equipos position-relative">
                            <i class="icons text-warning bi bi-people"></i>
                            <div class="card-body">
                                <h5 class="card-title">BUEN EQUIPO</h5>
                                <p class="card-text">Potente máquina, con enfriamiento de aire, para el que está
                                    empezando en el mundo gaiming. Esta máquina tiene todo lo que necesitas, aunque la
                                    puedes personalizar con alguna otra pieza que te interese.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>