<div class="main">
    <div class="services p-3">
        <div class="d-flex justify-content-center">
            <h1 class="fw-bold mt-5 fs-1">What I Do?</h1>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-around mt-5">
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="card-title"><i class="fs-1 fw-bold h1 text-warning bi-badge-hd"></i>
                            </h1>
                            <h5 class="card-title fs-3 fw-bold">Card title</h5>
                            <p class="card-text h4 text-secondary mt-3">Some quick example text to build on the card
                                title
                                and make up the
                                bulk of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing container my-5">
        <div class="text-center">
            <h4 class="fw-bold mt-5 fs-6 text-warning">PRICING</h4>
            <h1 class="fw-bold mt-2 fs-1">Choose Your Pricing Plan</h1>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title text-warning fs-6 fw-cold">$ 49</h1>
                        <h5 class="card-title fs-3 fw-bold">Personal</h5>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <div class="m-3">
                            <i class="bi bi-arrow-right-short ms-2 text-warning mt-5"></i>
                            <span class="text-secondary fw-bold">Strategic Alliance</span>
                        </div>
                        <p-button label="Get Started" styleClass="p-button-warning"></p-button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>